<div class="container flex mt-20 gap-10 border-2">
    <h3>Rotation</h3>
    <img class="rotate-0 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="rotate-45 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="rotate-90 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="rotate-180 h-16 w-32" src="../../../assets/images/test.jpg">
</div>
<div class="container flex mt-20 gap-10 border-2">
    <h3>Scale</h3>
    <img class="scale-75 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="scale-100 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="scale-125  h-16 w-32" src="../../../assets/images/test.jpg">
</div>
<div class="container flex mt-20 gap-10 border-2">
    <h3>Translate</h3>
    <img class="translate-y-6 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="-translate-y-6 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="translate-x-6 h-16 w-32" src="../../../assets/images/test.jpg">
</div>
<div class="container flex mt-20 gap-10 border-2">
    <h3>Skew</h3>
    <img class="skew-y-0 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="skew-y-3 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="skew-y-6 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="skew-y-12 h-16 w-32" src="../../../assets/images/test.jpg">
</div>
<div class="container flex mt-20 gap-10 border-2">
    <h3>Origin rotation</h3>
    <img class="origin-center rotate-45 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="origin-center rotate-12 h-16 w-32" src="../../../assets/images/test.jpg">
    <img class="origin-center -rotate-45 h-16 w-32" src="../../../assets/images/test.jpg">
</div>