<div class="container flex mt-20">
    <img class="rotate-0" src="../../../assets/images/logo.png">
    <img class="rotate-45" src="../../../assets/images/logo.png">
    <img class="rotate-90" src="../../../assets/images/logo.png">
    <img class="rotate-180" src="../../../assets/images/logo.png">
</div>

<div class="container flex mt-20">
    <img class="scale-75" src="../../../assets/images/logo.png">
    <img class="scale-100" src="../../../assets/images/logo.png">
    <img class="scale-125 " src="../../../assets/images/logo.png">
</div>

<div class="container flex mt-20">
    <img class="translate-y-6" src="../../../assets/images/logo.png">
    <img class="-translate-y-6" src="../../../assets/images/logo.png">
    <img class="translate-x-6" src="../../../assets/images/logo.png">
</div>

<div class="container flex mt-20">
    <img class="skew-y-0" src="../../../assets/images/logo.png">
    <img class="skew-y-3" src="../../../assets/images/logo.png">
    <img class="skew-y-6" src="../../../assets/images/logo.png">
    <img class="skew-y-12" src="../../../assets/images/logo.png">
</div>

<div class="container flex mt-20">
    <img class="origin-center rotate-45" src="../../../assets/images/logo.png">
    <img class="origin-center rotate-12" src="../../../assets/images/logo.png">
    <img class="origin-center -rotate-45" src="../../../assets/images/logo.png">
</div>