<iframe src="https://www.youtube.com/embed/7bOptq-NPJQ?si=PLc9ClDmjPY8tmPt" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen class="w-full aspect-video mt-10"></iframe>


<iframe src="https://www.youtube.com/embed/7bOptq-NPJQ?si=PLc9ClDmjPY8tmPt" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen class="w-full aspect-video hover:aspect-square mt-10"></iframe>

<iframe src="https://www.youtube.com/embed/7bOptq-NPJQ?si=PLc9ClDmjPY8tmPt" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen class="w-full aspect-video md:aspect-square mt-10"></iframe>